/*content.css*/

.content{
    width: 80%;
    margin:2rem 10% 0 10%;
    margin-top: -5rem;
    max-width: 100%;
    box-sizing: border-box;
    min-height: 100vh;
}

hr.contentbr {
    border-top: 3px solid rgb(182, 182, 182);
    width: 50%;
    margin:2rem 0% 0% 10%;
    margin-top: 5px;
}

.box{
    width:80%;
    margin:5px 20% 10% 10%;
    height: 400px;
    background-color:white;
}

h1 {
    font-family: "oxygenbold";
    font-size: 52px;
    letter-spacing: 2px;
    margin:5px 0% -1% 10%;
}

p {
    font-family: "oxygenlight";
    font-size: 16px;
    letter-spacing: 2px;
}

.subtitle {
    font-family: "oxygenlight";
    font-size: 18px;
    letter-spacing: 2px;
    margin:5px 0% 0% 10%;
}