/*dropdown.css
 merged navbar.css
 removed old css begin using bootstrap
 */
:empty {
  background: transparent;
}

.navbar {
  padding:0;
}



.navbar-custom {
  // Main navbar container
  
}

.topnav {
  background-color: #212424;
}

.navbar-toggler {
  padding: 0.5rem 1rem;
  background-color: #212424;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  padding: 0.5rem 1rem;
  margin: 0;
  font-family: "oxygenbold";
  color: #707070;
  background-color: #212424;
}

.navbar-collapse {
  width: 50%;
  background-color: #212424;
}

.nav-item {
  padding-bottom: 20px;
}

#sep {
  color: #707070;
  font-size: 36px;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.navbar-nav {
  background-color: #212424;
}

.dropdown-item {
  text-align: center;
}


:any-link {
  // stop underlines
  text-decoration: none;
}

// Responsive elements

@media screen and (min-width: 601px) {
  // Full-screen Browser
  a.title {
    font-size: 49px;
  }
  a {
    font-size: 36px;
  }
  .topnav {
    height: 90px;
    width:50%;
  }
  .navbar-collapse {
    width: 50%;
  }
  .dropdown-menu {
    left: -137%;
  }
}

@media screen and (max-width: 1262px) {
  // Mid-sized browser
  a.title {
    font-size: 42px;
  }
  .dropdown-item {
    font-size: 18px;
  }
  #sep {
    font-size:29px;
  }
  .topnav {
    height: 79px;
    width:50%;
  }
  .nav-link {
    font-size: 29px;
  }
  .navbar-collapse {
    width: 50%;
  }
  .dropdown-menu {
    left: -60%;
  }
}

@media screen and (max-width: 1095px) {
  // Mid-sized browser II
  a.title {
    font-size: 37px;
  }
  .dropdown-item {
    font-size: 18px;
  }
  #sep {
    font-size:24px;
  }
  .topnav {
    height: 72px;
    width:50%;
  }
  .nav-link {
    font-size: 24px;
  }
  .navbar-collapse {
    width: 50%;
  }
  .dropdown-menu {
    left: -89%;
  }
}

@media screen and (max-width: 991px) {
  // Mobile Browser
  a.title {
    // Change title fontsize
    font-size: 30px;
  }
  a {
    // Change navlink fontsize
    font-size: 24px;
  }
  #sep {
    display: none;
  }
  .topnav {
    width:100%;
    height:61px;
  }
  .navbar-toggler {
    height:61px;
  }
  .navbar-collapse {
    background-color: transparent !important;
    clear:both;
    width: 20rem;
  }
  .navbar-nav {
    width: 20rem;
  }
  .dropdown-menu {
    width: 99%;
  }
  
}