*{
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'oxygenlight';
  src: url('./component/webfontkit-20210316-212807/oxygen.light-webfont.woff2') format('woff2'),
       url('./component/webfontkit-20210316-212807/oxygen.light-webfont.woff') format('woff');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'oxygenregular';
  src: url('./component/webfontkit-20210316-212807/oxygen.regular-webfont.woff2') format('woff2'),
       url('./component/webfontkit-20210316-212807/oxygen.regular-webfont.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'oxygenbold';
  src: url('./component/webfontkit-20210316-212807/oxygen.bold-webfont.woff2') format('woff2'),
       url('./component/webfontkit-20210316-212807/oxygen.bold-webfont.woff2') format('woff');
  font-weight: bold;
  font-style: normal;
}

.displayPdf {
  white-space: nowrap;
  font-family: "oxygenlight";
  font-size: 36px;
  letter-spacing: 2px;
  color:#212424;
  text-align: center;
  /* text-shadow: 0 1px 8px rgba(0, 0, 0, 0.45); */
}

.react-pdf__Page__canvas {
  margin: 0 auto;
}
